* {
  padding: 0;
  margin: 0;
}
/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: rgba(102, 102, 102, 0);
}
::-webkit-scrollbar-track {
  background-color: #65cfa9;
}
::-webkit-scrollbar-track-piece {
  background-color: #e4e4e4;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #65cfa9;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #65cfa9;
}
::-webkit-resizer {
  background-color: #666;
}
/* Scrollbar */
@media (min-width: 992px) {
  html {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .bodyInterno {
    max-width: 940px;
    width: 940px;
    /* background: rgba(255, 0, 0, 0.233); */
    position: relative;
    overflow: hidden;
  }
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(300px) scale(0.8);
  }
}

@keyframes rebote {
  0%,
  100% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(30px) scale(0.8);
  }
}
@keyframes rebote2 {
  0%,
  100% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(30px) scale(0.8);
  }
}

.green1 {
  /* display: none; */
  animation: move 15s linear infinite;
}
.green2 {
  animation: rebote 15s linear infinite;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.108));
}
.green3 {
  animation: rebote2 10s linear infinite;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.108));
}

.circle1,
.circle2 {
  animation: move 15s linear infinite;
}

.circle1_meet,
.circle2_meet {
  animation: move 15s linear infinite;
}
